* {
  text-decoration: none !important;
}
body {
  margin-top: 76px;
}
.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08),
              0 4px 8px 0 rgba(0, 0, 0, .08);
}
blockquote {
  background-image: url('img/bg-quote.jpg');
  background-position: center;
  background-size: cover;
}
#perguntas-frequentes .btn{
  white-space: normal;
  text-align: left;
}
.btn-social button{
  max-width: 140px;
}
.lista-plano li + li {
  border-top: 1px solid #ccc;
}
.lista-plano li {
  padding: 10px;
}

@media (max-width: 767px) {
  blockquote .display-4 {
    font-size: 2.25rem;
  }
  body {
    margin-top: 0;
  }
  .fixed-top {
    position: relative;
  }
}